body {
    background: #f7f7f7;
    font-family: verdana;
    max-width: 900px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50%;
    }

#title, .subtitle, .post_title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: blue;
}
.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 10px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;    
}

.post_image2 {
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
    color: #505050;
}